@charset "UTF-8";

* {
	outline: none;
}

body {
	background: #e8e5e578;
}
     .recommand_wrap{
     	display: block;
		width: 100%;
		margin-top: 90px;
     }
 
        .recommand_main{
        	border: 2px solid #EAEAEA;
        	border-radius: 5px;
        	display: block;
        	width : 700px;
        	height : 600px;
        	margin: auto;
        	margin-top : 130px;
        	background-color: white;
        }
        
        
        .recommand_header {
        	text-align: center;
        }
        
        .topmenu{
        	margin: 20px 0px;
		}
		
		.menu-button {
			text-align: center;
			font-weight: bold;
			font-size: 20px;
			background-color: white;
			border : 2px solid gray;
			height: 40px;
			width : 130px;
		}
		
		.display{
		 	display : none;
		}
		
		#random-frame{
			display: block;
		}
		
		.fbtn,
		.tgbtn,
		.rdbtn {
			text-align: center;
			font-weight: bold;
			font-size: 23px;
			background-color: #EAEAEA;
			border:1px solid #EAEAEA;
			height: 40px;
			width : 130px;
			border-radius: 10px;
			margin: 15px 0px 20px 380px;
		}
		
		.fbtn:hover,
		.tgbtn:hover,
		.rdbtn:hover {
			background-color: #dedede;
		}
		
		
		#random-frame img {
			width : 500px;
			height: 600px;
			margin : auto;
			
		}
		
		#feel-frame{
		}
		
	  #situ-frame{
            top : 250px;
			left : 100px;
        }
        
        #tag-frame{
        	text-align: center;
        }
        
		#movie-box{
			width : 500px;
			height: 600px;
			margin : auto;
/* 			position : relative; */
/* 			top : 10px; */
			
		}
        
        #emoticon-frame{
        	width: 81%;
            display: flex;
            flex-wrap: wrap;
            margin: auto;
        }
        
       .situation-box{
      		display : inline-block;
        	padding : 0px 10px 0px 10px;
            margin : 5px;
            border: 5px solid gray;
            border-radius: 30px;
            height: 70px;
            text-align: center;
            line-height:60px;
            font-weight: bold;
            font-size: 25px;
            color : gray;
        }
        
        .emoticon-box > img{
        	width : 100px;
        	height : 100px;
        	margin : 30px;
        	margin-top: 25px;	
        }
       
       .recommand_main > input{
       		border-radius: 10px;
       		background-color: light-gray;
       		border : 2px solid light-gray;
       		height: 50px;
			width : 130px;
       		font-size: 20px;
       		font-weight: bold;
       }
  
	
		.b1{
			border-radius: 10px 0px 0px 10px;
			margin-right: -12px;
	
			}
		.b2{
			width:135px;
		}
		
		.b3{
			border-radius: 0px 10px 10px 0px;
			margin-left: -12px;
		}

/* 		button:focus { */
/*   			background-color:gray; */
/*   			color:white; */
/* 		} */
	
		
		.clicked{
			color : navy;
			border-color: navy;
			
		}
		
		.recommand_main > input:hover{
			background-color:gray;
  			color:white;
		}
     
		.situation-box:hover{
			border:5px solid navy;
  			color:navy;
		}
		
		

		